@import '_base';

.form-style-2 {
    label{
        display: block;
        margin: 0px 0px 15px 0px;

        span{
            width: 200px;
            font-weight: bold;
            float: left;
            padding-top: 8px;
            padding-right: 20px;
        }
        
    }
    input.input-field, .select-field{
        width: 50%;	
        box-sizing: border-box;
        border: 1px solid #C2C2C2;
        box-shadow: 1px 1px 4px #EBEBEB;
        border-radius: 3px;
        padding: 7px;
        outline: none;
        &:focus{
            border: 1px solid #0C0;
        }
    }
   
}

.errors{
  color: red;
}
